<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/head' %>
</head>
<body>
<div class="editor-page">
  <%= render 'layouts/navbar' %>
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <%= form_with(model: @post, local: true) do |form| %>
          <fieldset class="form-group">
            <%= form.text_field :title, class: "form-control form-control-lg", placeholder: "Article Title" %>
          </fieldset>
          <fieldset class="form-group">
            <%= form.text_area :description, class: "form-control", rows: 4, placeholder: "Write article description" %>
          </fieldset>
          <fieldset class="form-group">
            <%= form.text_area :content, class: "form-control", rows: 8, placeholder: "Write article content" %>
          </fieldset>
          <fieldset class="form-group">
            <%= form.text_field :tag_list, class: 'form-control', placeholder: "Enter tags" %>
            <div class="tag-list">
              <% @categories.each do |category| %>
                <span class="tag-default tag-pill" data-category="<%= category.name %>"><i class="ion-close-round"></i> <%= category.name %></span>
              <% end %>
            </div>
          </fieldset>
          <%= form.submit "Publish Article", class: "btn btn-lg pull-xs-right btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
